*This Notebook will using Interpolation to Impute Daily Samples based on Quarterly and Monthly Indexes*

In [68]:
import pandas as pd

df = pd.read_csv('Additional.csv')

df.columns

Index(['Date', 'Dow Jones Industrial Average', 'Nasdaq 100 Index', 'CPI Index',
       'Corporate Lending Default Rate on Large Loans to Public Nonfinancial Corporations Last  3 Months',
       'Corporate Lending Default Rate on Medium Loans to Public Nonfinancial Corporations Last  3 Months',
       'US Unemployment Rate', 'GDP Index',
       'Bloomberg US Corporate Total Return Value',
       'Morgan Stanley Market Sentiment Index'],
      dtype='object')

In [69]:
df = df.interpolate(method='linear').set_index('Date')

C:\Users\colby\AppData\Local\Temp\ipykernel_13836\3387591869.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df = df.interpolate(method='linear').set_index('Date')

In [70]:
df_current = pd.read_csv('Imputed_Cleaned_CDX.csv').set_index('Date')

*Filter out dates not in current dataset*

In [71]:
filtered_df = df.loc[df.index.isin(df_current.index)]

filtered_df.shape

(2877, 9)

In [72]:
filtered_df.isnull().sum()

filtered_df.describe()

,Dow Jones Industrial Average,Nasdaq 100 Index,CPI Index,Corporate Lending Default Rate on Large Loans to Public Nonfinancial Corporations Last 3 Months,Corporate Lending Default Rate on Medium Loans to Public Nonfinancial Corporations Last 3 Months,US Unemployment Rate,GDP Index,Bloomberg US Corporate Total Return Value,Morgan Stanley Market Sentiment Index
count,2877.000000,2877.000000,2865.000000,2844.000000,2844.000000,2844.000000,2844.000000,2877.000000,2877.000000
mean,24177.969148,7925.224612,2.601409,2.439010,0.537186,5.260951,2.541617,2894.503445,0.027838
std,7238.573188,4280.344570,2.189856,10.426714,9.035380,1.753419,5.204087,345.836507,0.643313
min,12542.380000,2524.360000,-0.200000,-25.500000,-26.300000,3.500000,-28.000000,2334.880000,-2.720000
25%,17573.930000,4341.300000,1.320870,-0.755088,-5.995149,3.803864,1.681061,2586.050000,-0.350000
50%,24361.450000,6774.890000,1.879091,2.109172,1.316667,4.888182,2.498507,2836.660000,0.110000
75%,31060.470000,11872.540000,2.917391,10.186415,6.428030,6.196513,3.664394,3119.950000,0.490000
max,38797.380000,17962.400000,9.060000,30.700000,24.800000,13.000000,34.800000,3575.820000,1.540000

*Back fill remaining empty samples most recently not imputable using interpolation*

In [73]:
df = filtered_df.bfill()

df.to_csv('Additional_to_Merge.csv')